@model IEnumerable<TechnicalInterview_FeedReader.Models.FeedItem>

@{
    ViewBag.Title = "Search";
}

<h2>Feeds</h2>
@Html.Partial("_FeedAside")
 @ViewBag.CurrentFeedTitle
<table>
    
    @foreach (var item in Model)
    {
        <tr>
            <td class="feeditem">
                
                @using (Html.BeginForm("Read", "Feed", FormMethod.Post))
                {
                    <input type="hidden" name="feedItemId" value="@item.ID" />
                    <input type="submit" value="Mark As Read" /> @item.DatePublished
                    <br /><font>URL:</font> <a href="@item.ItemUrl" target="_blank">@item.ItemUrl</a>
                   
                }                
                <h2>@item.Title</h2>                
                <section class="feeditemdetails">
                    @Html.Raw(item.Text)
                </section>

            </td>
        </tr>
        <tr>
            <td>
                <br /><br />
            </td>
        </tr>
    }

</table>
