@model IEnumerable<TechnicalInterview_FeedReader.Models.FeedItem>

@{
    ViewBag.Title = "Search";
}

<h2>Feeds</h2>
@Html.Partial("_FeedAside")
<table>
    <tr>
        <td>
            @ViewBag.CurrentFeedTitle
            
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                <details title="details">
                    <summary>@item.Title</summary>
                    <br />
                    URL: <a href="@item.ItemUrl" target="_blank">@item.ItemUrl</a><br />
                    <br />
                    <section class="details">
                        @Html.Raw(item.Text)
                    </section>
                </details>
            </td>
        </tr>
    }

</table>
